<div class="related">
    {% assign hasSimilar = '' %}
    {% for archive in site.archives  %}
        {% assign postHasSimilar = false %}
        {% for tag in archive.tags %}
            {% for thisTag in archive.tags %}
                {% if postHasSimilar == false and hasSimilar.size < 5 and archive != page and tag == thisTag %}
                    {% if hasSimilar.size == 0 %}
                    <h4>Related Posts</h4>
                    <ul>
                    {% endif %}
                    <li class="relatedPost">
                        <a href="{{ site.url }}{{ post.url }}">{{ archive.title }}
                        {% if post.series %}
                            (Series: {{ post.series }})
                        {% endif %}
                        </a>
                    </li>
                    {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                    {% assign postHasSimilar = true %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% if hasSimilar.size > 0 %}
        </ul>
    {% endif %}
</div>
